<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>

<body>
    <form action="/posts/{{form_data[0]}}/update" method="POST">
        <label>Title</label>
        <input type="text" name="title" value="{{form_data[1]}}" />
        {% if errors["title"] != "" %}
        {{ errors["title"] }}
        {% endif %}

        <label>Description</label>
        <input type="text" name="description" value={{form_data[2]}} />
        {% if errors["description"] != "" %}
        {{ errors["description"] }}
        {% endif %}

        <input type="submit" />
    </form>
</body>

</html>