<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul class="container-nav">
            <div class="nav-left">
                <li><a href="/">Home</a></li>
            </div>

            <!-- 
                Just like the {% for object in objects %} {% endfor %} we did in class. We can also conditionally render content to the screen using
                { % if  your_logic_here % }
                    Your code
                { % elif your_logic_here % }
                    Your code
                { % else % }
                    Your code
                { % endif % }

                In the code below we are conditionally rendering the navbar to render the button login/register if the user is not logged in
                or render logout button if the user is logged in
            -->

            {% if session["user_id"] %}
            <div class="nav-right">
                <li><a href="/logout">Logout</a></li>
            </div>

            {% else %}
            <div class="nav-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </div>
            {% endif %}
        </ul>
    </nav>

    <div class = "content">

    <!--

        Here you can see the jinja tags 
        
        { % block content % }
        { % endblock % }
        
        What this does is allow you to use base.html as a reusable template instead of writing the same code all over again.
        
        If you see in the project we did in class, we rewrote the same code for <head> for each page. And if you were to make one chage to <head> in a page
        then you would have to change it for each page, which can become hard to manage. 

        Open any other html file and you will see

        { % extends 'base.html' % }
            { % block content % }
                Your code here
            { % endblock % }
    
        Wwhat happens here is when you open that page; lets say you open "/register", it will render the content of the base.html and in the section of 

        { % block content % }
        { % endblock % } 
        
        which you can see below, it will render the content of register.html

        So any change you make to base.html, will affect all the pages
    -->
    
    {% block content %}
    {% endblock %}
    </div>

</body>

</html>