{% extends 'base.html' %}
{% block content %}

<div class = "profile">
    <div class = "heading">
        <h1>Welcome to your page {{session["user_name"]}}</h1>
    </div>

    <div class = "heading-title">
        <a href="/posts/create">Add a todo</a> <br />
    </div>
    {% for item in todo %}
    <div class = "todo-content">
        <a href="/posts/{{item[0]}}/detail">Title: {{ item[1] }}</a>
        <a href="/posts/{{item[0]}}/update">Edit</a>
        <a href="/posts/{{item[0]}}/delete">Delete</a>
    </div>
    {% endfor %}
</div>
{% endblock %}